/* CSS DOCUMENT */

@font-face {
	font-family: Avenir-Bold;
	src: url("fonts/AvenirLTStd-Black.otf");
}

@font-face {
	font-family: Avenir-Light;
	src: url("fonts/avenirLight.ttf");
}

@font-face {
	font-family: Avenir;
	src: url('fonts/avenirRegular.ttf');
}

@font-face {
	font-family: Neou-Bold;
	src: url('fonts/Neou-Bold.otf');
}

body {
	background: #2B607E url("images/mainbg.png") no-repeat;
	background-size: cover;
}

body#tut {
	background: #C7D0D2;
}

#title {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 100%;
	height: 80px;
	font-family: Avenir-Light;
	font-weight: 300;
	color: #FFF;
	font-size: 75px;
	text-align: center;
	text-shadow: 3px 3px 2px #000;
}

#title_tut {
	position: absolute;
	top: 0px;
	right: 200px;
	width: 300px;
	height: 120px;
	line-height: 120px;
	font-family: Avenir-Light;
	font-weight: 300;
	color: #000;
	font-size: 75px;
	text-align: center;
	/*text-shadow: 3px 3px 2px #000;*/
}

#title_tut a {
	text-decoration: none;
	color: #000;
}

#title span#bold, #title_tut span#bold {
	font-family: Avenir-Bold;
}

#slogan {
	position: absolute;
	top: 320px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	color: #EEE;
	text-shadow: 2px 2px 3px #000;
}

#buttons {
	position: absolute;
	top: 500px;
	left: calc(50% - 200px);
	width: 400px;
	height: 50px;
}

#buttons ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#buttons ul li a {
	float: left;
	text-decoration: none;
	width: 150px;
	height: 27px;
	background: #E74C3C;
	color: #FFF;
	text-align: center;
	line-height: 27px;
	font-family: Avenir;
	border-radius: 3px;
	padding: 15px;
	margin-left: 10px;
	-webkit-transition: background 0.2s;
}

#buttons ul li a:hover {
	background: #d63b2c;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	background: #FFF;
	border-bottom: 3px solid gray;
	box-shadow: 0px 0px 5px #999;
}

#tutor_heading {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	font-size: 25px;
	font-family: Avenir-Bold;
}

#content {
	position: absolute;
	top: 200px;
	left: calc(50% - 200px);
	width: 410px;
	height: auto;
	background: #EEE;
	border-radius: 5px;
	padding: 10px;
}

#content p {
	margin: 0px;
	padding: 10px;
	font-family: Avenir;
	font-size: 19px;
}

#tut_name, #tut_email, #course_code {
	width: 365px;
	padding: 15px;
	border: 5px solid #95A8AC;
	border-radius: 5px;
	font-family: Avenir;
	font-size: 15px;
}

#course_code {
	width: 315px;
}

#tut_name:focus, #tut_email:focus, #course_code:focus {
	outline: none;
}

#add_course {
	width: 30px;
	height: 30px;
	background: #E74C3C url("images/add.png") no-repeat;
	background-size: cover;
	cursor: pointer;
	margin-left: 5px;
	border: 5px solid #E74C3C;
	border-radius: 3px;
}

#course_list {
	margin-left: 20px;
	padding: 0px;
	list-style-type: none;
	margin-bottom: 0px;
}

#course_list li {
	width: 100px;
	padding: 5px;
	font-family: Avenir;
}