/* CSS DOCUMENT */

@font-face {
	font-family: Avenir-Bold;
	src: url("fonts/AvenirLTStd-Black.otf");
}

@font-face {
	font-family: Avenir-Light;
	src: url("fonts/avenirLight.ttf");
}

@font-face {
	font-family: Avenir;
	src: url('fonts/avenirRegular.ttf');
}

@font-face {
	font-family: Neou-Bold;
	src: url('fonts/Neou-Bold.otf');
}

body {
	background: #2B607E url("images/mainbg.png") no-repeat;
	background-size: cover;
}

body#tut {
	background: #FFF;
	/*background: #2B607E;*/
}

#title {
	position: absolute;
	top: 200px;
	left: 0px;
	width: 100%;
	height: 80px;
	font-family: Avenir-Light;
	font-weight: 300;
	color: #FFF;
	font-size: 100px;
	text-align: center;
	text-shadow: 3px 3px 2px #000;
}

#title_tut {
	position: absolute;
	top: 0px;
	right: 200px;
	width: 300px;
	height: 120px;
	line-height: 120px;
	font-family: Avenir-Light;
	font-weight: 300;
	color: #FFF;
	font-size: 75px;
	text-align: center;
	/*text-shadow: 3px 3px 2px #000;*/
}

#title_tut a {
	text-decoration: none;
	color: #FFF;
}

#title span#bold, #title_tut span#bold {
	font-family: Avenir-Bold;
}

#slogan {
	position: absolute;
	top: 350px;
	left: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	font-family: Avenir;
	font-size: 30px;
	color: #EEE;
	text-shadow: 2px 2px 3px #000;
}

#buttons {
	position: absolute;
	top: 500px;
	left: calc(50% - 200px);
	width: 400px;
	height: 50px;
}

#buttons ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#buttons ul li a {
	float: left;
	text-decoration: none;
	width: 150px;
	height: 27px;
	background: #E74C3C;
	color: #FFF;
	text-align: center;
	line-height: 27px;
	font-family: Avenir;
	border-radius: 3px;
	padding: 15px;
	margin-left: 10px;
	-webkit-transition: background 0.2s;
}

#buttons ul li a:hover {
	background: #d63b2c;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	background: #FFF url("images/mainbg.png") no-repeat center center;
	background-size: cover;
	/*border-bottom: 3px solid gray;*/
	box-shadow: 0px 2px 10px #999;
	z-index: 2;
}

#tutor_heading {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 300px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	font-size: 25px;
	font-family: Avenir-Bold;
	color: #FFF;
}

#content {
	position: absolute;
	top: 150px;
	left: calc(50% - 220px);
	width: 410px;
	height: auto;
	background: #eee;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 50px;
}

#content p {
	margin: 0px;
	padding: 10px;
	font-family: Avenir;
	font-size: 19px;
}

#tut_fname, #tut_lname, #tut_email, #course_code1,
#course_code2, #course_code3, #course_code4, #course_code5,
#course_code6, #course_code7, #course_code8, #course_code9,
#course_code10, #charge_rate, #stud_course_code {
	width: 367px;
	padding: 15px;
	border: 4px solid #95A8AC;
	border-radius: 5px;
	font-family: Avenir;
	font-size: 15px;
}

#tut_fname, #tut_lname {
	width: 162px;
}

#stud_course_code {
	width: 200px;
}

#charge_rate {
	width: 100px;
}

#rate_tab, #avail {
	font-family: Avenir-Bold;
}

#tut_fname:focus, #tut_lname:focus, #tut_email:focus, #course_code:focus, #charge_rate:focus, #stud_course_code:focus, #course_code1,#course_code2, #course_code3, #course_code4, #course_code5,
#course_code6, #course_code7, #course_code8, #course_code9, #course_code10 {
	outline: none;
}

#course_code1,#course_code2, #course_code3, #course_code4, #course_code5,
#course_code6, #course_code7, #course_code8, #course_code9, #course_code10 {
	width: 160px;
}

#add_course {
	width: 30px;
	height: 30px;
	background: transparent url("images/add.png") no-repeat;
	background-size: cover;
	cursor: pointer;
	margin-left: 5px;
	border: 5px solid transparent;
	border-radius: 3px;
}

#avail tr td {
	padding: 5px;
	padding-left: 15px;
}

#course_input_window {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#teach_button {
	float: left;
	text-decoration: none;
	width: 410px;
	height: 40px;
	background: #E74C3C;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	font-family: Avenir;
	font-size: 15px;
	border-radius: 3px;
	-webkit-transition: background 0.2s;
	cursor: pointer;
	margin-top: 10px;
	border: none;
}

#teach_button:hover {
	background: #d63b2c;
}

select {
	padding: 2px;
	font-family: Avenir;
}

.form-container {
	position: absolute;
	top: 200px;
	left: calc(50% - 200px);
	width: 400px;
	height: 190px;
	background: #eee;
	border-radius: 5px;
}

.student-title {
	font-family: Avenir;
	text-align: center;
}

.text-field {
	font-family: Avenir;
	margin-left: 80px;
	margin-bottom: 20px;
	padding: 5px 5px 5px 5px;
}

.find-tutor-btn {
	text-decoration: none;
	width: 150px;
	height: 27px;
	background: #E74C3C;
	color: #FFF;
	text-align: center;
	line-height: 0px;
	font-family: Avenir;
	border: none;
	border-radius: 3px;
	padding: 20px;
	margin-left: 125px;
	-webkit-transition: background 0.2s;
	cursor: pointer;
}

.find-tutor-btn:hover {
	background: #d63b2c;
	-webkit-transition: background 0.2s;
}

#search_content {
	position: absolute;
	top: 120px;
	left: calc(25%);
	width: 50%;
	height: auto;
}

#tutor_info {
	width: 100%;
	height: 200px;
	background: #EEE;
	border-radius: 5px;
	margin-top: 10px;
}

#tut_name {
	margin: 0px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	font-family: Avenir-Bold;
	font-size: 28px;
}

#tut_info_email {
	margin: 10px auto;
	padding: 0px;
	width: 100%;
	text-align: center;
	font-family: Avenir;
}

#tut_info_table {
	margin-top: 15px;
	margin-left: 60px;
}

#day_name {
	font-family: Avenir-Bold;
	width: 100px;
	text-align: center;
}

#tut_time {
	font-family: Avenir;
	text-align: center;
}

#no_tut {
	position: absolute;
	top: 200px;
	left: calc(50% - 150px);
	width: 300px;
	height: auto;
	background: #EEE;
	border-radius: 5px;
	padding: 10px;
	font-family: Avenir;
	font-size: 20px;
	text-align: center;
}

#about {
	position: absolute;
	top: 600px;
	left: calc(50% - 95px);
	width: 150px;
	height: 27px;
	background: #222;
	color: #FFF;
	text-align: center;
	line-height: 27px;
	font-family: Avenir;
	border-radius: 3px;
	padding: 15px;
	-webkit-transition: background 0.2s;	
	cursor: pointer;
}

#about:hover {
	background: #111;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	/*background: rgba(250, 250, 250, 0.3);*/
}

#footer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#footer ul li a {
	float: left;
	text-decoration: none;
	width: 25%;
	height: 50px;
	text-align: center;
	line-height: 55px;
	font-family: Avenir;
	color: #FFF;
}